<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwanjin.hizini.domain.dao.BoardMapper">
	<select id="selectBoards" resultType="BoardDTO">
		SELECT 	
				ID
				, TITLE
				, IMAGE
				, CONTENT
				, CHECKED
		FROM 
				QUIZ.BOARD
	</select>
	<select id="selectBoard" resultType="BoardDTO">
		SELECT 	
				ID
				, TITLE
				, IMAGE
				, CONTENT
				, CHECKED
		FROM 
				QUIZ.BOARD
		WHERE	
				ID = #{id}
	</select> 
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE QUIZ.BOARD 	
		SET		CHECKED = #{checked}
		WHERE 
			ID = #{id}
	</update> 
</mapper>
 