<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwanjin.hizini.domain.dao.SampleMapper">
	<insert id="createPost" parameterType="SampleDTO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO HWANJIN.POST (
			TITLE 
			, USER_ID
			, `LIKE`
			, INSERT_DTM
		) VALUES (
			#{title}
			, #{userId}
			, #{like}
			, NOW()
		);

	</insert>
</mapper>
