<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwanjin.hizini.domain.dao.UserMapper">
	<select id="selectUser" resultType="UserDTO">
		SELECT 
				ID
				, NAME
				, PERMISSION
				, QUIZ1
				, QUIZ2
				, QUIZ3
				, QUIZ4
				, QUIZ5
		FROM 
				QUIZ.USER
		WHERE 
				1=1
				<if test="id != 0">
					AND ID = #{id}
				</if>
				<if test="name != null">
					AND NAME = #{name}
				</if>
	</select>

	<insert id="insertUser" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO QUIZ.USER (
			NAME 
		) VALUES (
			#{name}
		)
	</insert>
	
	<update id="updateUser" parameterType="UserDTO">
		UPDATE QUIZ.USER
		<trim prefix="SET" suffixOverrides=",">
			<if test="quiz1 != 0">
				QUIZ1 = #{quiz1},
			</if>
			<if test="quiz2 != 0">
				QUIZ2 = #{quiz2},
			</if>
			<if test="quiz3 != 0">
				QUIZ3 = #{quiz3},
			</if>
			<if test="quiz4 != 0">
				QUIZ4 = #{quiz4},
			</if>
			<if test="quiz5 != 0">
				QUIZ5 = #{quiz5},
			</if>
		</trim>
		WHERE 
			ID = #{id}	
	</update> 
</mapper>
 